#
#	qtMecaBon 
#
#
#

/.vs/
/build-qtMeCabon-Desktop_Qt_6_5_2_MSVC2019_64bit-Debug/
/build-qtMeCabon-Desktop_Qt_6_5_2_MSVC2019_64bit-Release/
/mecab-0.996/
/mecab-ipadic-2.7.0-20070801/
/open_jtalk_dic_utf_8-1.11/
/qtMeCabon/AquesTalk.*
/qtMeCabon/x64/
/qtMeCabon/.vs/
/qtMeCabon/out/
/release/
/x64/
*.zip
*.png
*.bak
/work/final/sys.dic
/work/final/model.def
/work/seed/sys.dic
/work/seed/model
/work/seed/mecab-ipadic-2.7.0-20070801U8.model
!/work/final/sys.zip
!/work/final/model.zip
!/work/seed/sys.zip
!/work/seed/model.zip
!/work/seed/mecab-ipadic-2.7.0-20070801U8.zip
/work/seed/corpus.1
/work/seed/corpus.2
/work/seed/corpus.3
/work/seed/corpus.4
/work/seed/corpus.5
/work/seed/corpus.6
/work/seed/corpus.7
/work/seed/corpus.8
/work/seed/dicblds4.bat
